<h1>Welcome to my blog posts.</h1>
<h2>Blogposts</h2>
{{#if dbError}}
  <p>the page can't display, try again later.</p>
  {{else}}
{{#if blogposts.length}}
    {{#each blogposts}}
    <div class="my-post">
        <h3>#{{Id}} {{title}}</h3>
        <p>{{content}}</p>
             <form method="get" action="/blogpost/{{Id}}">
          <input type="submit" class="btn btn-success" value="Details">
      </form> 
        {{#if ../isLoggedIn}}
      <a href="/updateblogpost/{{id}}" class="btn btn-primary">Update</a>
      <form method="post" action="/deletepost/{{Id}}">
        <input type="submit" class="btn btn-primary" value="Delete post">  
      </form>   
      {{/if}}
    </div>
    {{/each}}
{{else}}
<p>There is no blogpost</p>
{{/if}}
{{/if}}