
  <div class="contact-form">
        <form method="post" action="/portfolio">
            <h2>Projects</h2>
            <div class="contact-box">
                <input type="text" name="name" required="required" placeholder="Name">
            </div>
            <div class="contact-box">
                <textarea required="required" name="content" placeholder="Content" rows="3"></textarea>
            </div>
            <div class="contact-box">
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
{{#if portfolio.length}}
    {{#each portfolio}}
    <div class="my-post">
        <h3>#{{Id}} {{name}}</h3>
        <p>{{content}}</p>
             <form method="get" action="/portfolios/{{Id}}">
        <input type="submit" class="btn btn-success" value="Details">
      </form> 
        {{#if ../isLoggedIn}}
      <a href="/update-portfolio/{{Id}}" class="btn btn-primary">Update</a>
      <form method="post" action="/deleteportfoliopost/{{Id}}">
        <input type="submit" class="btn btn-primary" value="Delete post">  
      </form>   
      {{/if}}
    </div>
    {{/each}}
{{else}}
<p>There is no projects</p>
{{/if}} 