 {{#if dbErrorOccured}}
 can't display the page now, try again later.
 {{else}}
 <form method="post" action="/portfolio/update-portfolio/{{portfolio.Id}}">
        <h2>Post blog posts</h2>
        <div class="contact-box">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            name: <input type="text" name="name" required="required"  value="{{portfolio.name}}">
        </div>
        <div class="contact-box">
            Content: <textarea name="content" required="required">{{portfolio.content}}</textarea>
        </div>
        <div class="contact-box">
            <input type="submit" value="Post">
        </div>
    </form>
    {{/if}}